html {
	font-family: sans-serif;
}

body {
	font-family: 'Roboto Slab', serif;
}

header {
	font-weight: normal;
}

.container {
  margin: 2rem auto;
  padding: 0 10px;
  max-width: 1000px;
}

.row::before,
.row::after {
  display: table;
  content: ' ';
  clear: both;
  margin: 0.5rem 0;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .one {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .one-third {
    width: calc(100% / 3);
  }
  .one-fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  .column {
    float: left;
  }
}



footer {
	text-align: center
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
}

a {
	color: #da574d;
}

a:hover {
	color: #444;
}

header {
	box-shadow: 0 3px 2px -2px gray;
}

header a:hover, header .current a {
    color: #da574d;
}

h1.post-title, .post-title>a {
	color: #da574d;
}

.posts {
	margin-left: 0rem !important;
}

.user-profile .user-motivation {
    max-width: 56rem;
    font-size: 3rem;
    line-height: 4rem;
    margin: 1rem auto;
}
@media (max-width: 480px) {
	.user-profile .user-motivation {
		font-size: 1.6rem;
		line-height: 2.5rem;
	}
}

.user-profile {
    padding: 6rem 1rem 12rem;
}

section.post-archive {
	width: 80%;
	margin: auto;
	margin-top: 5rem;
	text-align: center;
}

@media (max-width:480px) {
	section.post-archive {
		width: 100%;
	}
	.post-item h1 {
		font-size: 1.25rem;
	}
}

.post-item {
	height: 9rem;
	background: #eee;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 30px 0;
	padding: 0 10px;
	justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	/*box-shadow: 0 4px 3px -2px darkgrey;*/
}

.post-item h1 a {
	color: #444
}

.post-item h1 a:hover {
	color: #da574d; 
}

.posts-archive>ul {
	list-style-type: none;
}

.posts-archive>ul>li {
	margin-left: 16vw;
	font-size: larger;
}

@media (max-width: 480px) {
	.posts-archive>ul>li {
		margin-left: 6vw;
	}
}

.posts-archive>ul>li>a {
	color: black;
}

.posts-archive>ul>li>a:hover {
	color: #da574d;
}

.content.wide {
	max-width: 40rem; 
}
.content.toc {
	max-width: 40rem; 
}


#TableOfContents {
	position: fixed;
	margin: 5rem 0 0 38rem;
}

.music-info {
	margin: 1rem;
}

iframe {
	border-radius: 5px;
	box-shadow: 3px 3px 10px -2px gray;
}
